// Contact-Us

.contact{
    text-align: center;
    color: white;
    background-color: $primary;
    padding: 3rem 0;
}

// connection
.connection{
    padding: 6rem 0;
    p{
        color: $text-color;
        padding-bottom: 3rem;
    }
    background-color: $light;
h3{
    font-size: 1.5rem;
    padding: 1rem 0;
}
    .icon{
       
            i{
                border-radius: 50%;
                background-color: rgb(219, 221, 223);
                font-size: 2.5rem;
                color: $primary;
                padding: 1rem;
                
            }
        }
      small{
          font-weight: 100;
          color: $text-color;
      }

    }

    // map-Section
    .map-section{
        padding: 4rem 0;
        p{
            color: $text-color;
            padding-top: 1.5rem;
        }
        div{
            padding-top: 3rem;
        }
        form{
            text-align: center;
            input{
                padding: 0.5rem 1rem;
                margin-bottom: 1rem;
                border: 1px solid rgb(219, 221, 223);
            }
            textarea{
                padding: 0.5rem 1rem;
                border: 1px solid rgb(219, 221, 223);
            }
            button{
                border: none;
                background-color: $primary;
                color: white;
                
            }
        }
    }

